.menu_body {
    min-width: 340px;
}

.menu_header {
    height: 65px;
}

.menu_logout_button {
    width: 115px;
    border: 2px solid #898989;
    border-radius: 5px;
    margin-right: 30px;
    margin-top: 15px;
    padding-left: 15px;
    line-height: 30px;
}

.menu_logout_button h1 {
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    color: #505050;
    line-height:30px;
    margin-left: 5px;
}

.menu_logout_button div:hover {
    cursor: pointer;
}

.menu_logout_icon {
    margin-bottom: 5px;
    line-height: 23px;
}

.menu_avatar {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 11px;
}

.menu_avatar h1 {
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    color: #505050;
    line-height:15px;
    margin-left: 5px;
}

.menu_avatar p {
    font-family: Verdana;
    font-size: 10px;
    color: #646464;
    line-height:15px;
    margin-left: 5px;
}

.menu_options {
    border-top: 1px solid #d4d8e2;
    width: 340px;
    clear: left;
}

.menu_options h1 {
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    color: #505050;
    line-height:15px;
    margin-left: 5px;
}

.menu_options div:hover {
    background: #d4d8e2;
    cursor: pointer;
}

.menu_item {
    width: 160px;
    height: 45px;
    margin-top: 8px;
    margin-left: 6px;
    border-radius: 5px;
}

.menu_icon {
    height: 40px;
    width: 40px;
    border: 1px solid #d4d8e2;
    border-radius: 50%;
    padding: 8px;
}

.menu_text {
    font-family: Verdana;
    font-weight: bold;
    font-size: 11px;
    color: #505050;
    line-height:40px;
    margin-left: 5px;
}